<!DOCTYPE html>
{% load static %}
<html>
  <header>
    <style>
      .header {
        background-color: #f8f9fa;
        text-align: center;
        display: flex;
        justify-items: center;
      }

      .logo {
        height: 40px;
        justify-items: center;
      }

      .header h1 {
        margin: 0;
        padding: 10px;
        font-size: 24px;
      }
    </style>
  </header>
  <body>
    <div class="header">
      <img class="logo" src="{% static 'logo.png' %}" alt="Logo">
      <h1>My Blog</h1>
    </div>
    <h1>Все статьи</h1>
    <div class="archive">
      {% for post in posts %}
        <div class="one-post">
          <h2 class="post-title">{{ post.title }}</h2>
          <div class="article-info">
          <div class="article-author">{{ post.author.username }}</div>
          <div class="article-created- date">{{ post.created_date }}</div>
          </div>
          <p class="article-text">{{ post.get_excerpt }}</p>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
