body {
    background: #1abc9c; 
    font-family: Tahoma, Arial, sans-serif; 
    color: #333;
}

/* Для заголовка первого уровня шрифт с засечками */
h1 {
    font-family: "Times New Roman", Times, serif;
}

table {
    border-collapse: collapse;
    width: 100%; /* ширина таблицы на 100% */
}

p, h4 {
    font-size: 20px; 
    margin-bottom: 0;
}

h4 {
    font-size: 18px; /* размер шрифта изменён для подзаголовков 4-го уровня */
}

ul, ol {
    margin: 0;
}

table tr td {
    padding: 5px;
}

img {
    height: 30px;
    width: auto;
}

